<h1>Your Todo List</h1>

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Due Date</th>
    <th>Priority</th>
    <th>Completed</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.description %></td>
      <td><%= todo.due_date %></td>
      <td><%= todo.priority %></td>
      <td><%= todo.completed ? 'Yes' : 'No' %></td>
      <td>
        <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
