<!DOCTYPE html>
<html>
<head>
  <title>TodoListApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if devise_controller? && (controller_name == "sessions" && action_name == "new") || (controller_name == "registrations" && action_name == "new") %>
    <%= stylesheet_link_tag "/adminlte/dist/css/adminlte.css" %>
    <%= stylesheet_link_tag "/adminlte/plugins/fontawesome-free/css/all.css" %>
  <% else %>
    <!-- AdminLTE CSS -->
    <%= stylesheet_link_tag "/adminlte/dist/css/adminlte.css" %>
    <%= stylesheet_link_tag "/adminlte/plugins/fontawesome-free/css/all.css" %>

    <%= stylesheet_link_tag "application", media: "all" %>
  <% end %>
</head>

<body class="<%= devise_controller? && ((controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new')) ? 'login-page' : 'hold-transition sidebar-mini layout-fixed' %>">
<% unless devise_controller? && ((controller_name == "sessions" && action_name == "new") || (controller_name == "registrations" && action_name == "new")) %>
  <!-- Navbar and Sidebar -->
  <div class="wrapper">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="content-wrapper">
    <%= yield %>
  </div>
<% else %>
  <%= yield %>
<% end %>

<!-- AdminLTE JS -->
<%= javascript_include_tag "/adminlte/plugins/jquery/jquery.js" %>
<%= javascript_include_tag "/adminlte/plugins/bootstrap/js/bootstrap.bundle.js" %>
<%= javascript_include_tag "/adminlte/dist/js/adminlte.js" %>

<%= javascript_include_tag "application" %>
</body>
</html>
